.menu-open {

  .page__header {
    background-color: #fff;
    color: #7a7a7a;
  }

  .main-navigation {
    height: initial;
    overflow: visible;
    margin: 4px 0;
    a {
      color: #7a7a7a;
    }
  }

  .header,
  .header__text {
    color: #7a7a7a;
  }

  .header__logo {
    .first {
      fill: #7a7a7a;
    }

    .last {
      fill: #99bd3d;
    }
  }

  .main-navigation {
    top: 0;
    opacity: 1;
    pointer-events: initial;
    visibility: initial;
    pointer-events: initial;
  }

  .main-navigation::before,
  .main-navigation::after {
    width: 100%;
    opacity: 1;
  }

  @media (max-width: 768px) {
    overflow: hidden;
    .header {
      border-bottom: 2px solid #7a7a7a;
    }

    .main-navigation {
      top: initial;
      left: 0;
    }
  }
}
