.header {
  pointer-events: initial;
  color: #ffffff;
  padding: 20px 0;

  &__grid {
    display: grid;
    gap: 32px;
    align-items: center;
    grid-template-columns: 470px 1fr 240px;
  }

  &__logo {
    display: grid;
    gap: 24px;
    align-items: center;
    grid-template-columns: 255px 1fr;

    img {
      display: block;
      width: 100%;
    }
  }

  &__text {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 0.3s;
  }

  &__buttons {
    display: grid;
    gap: 16px;
    grid-template-columns: auto 50px;
    width: 100%;
    align-items: center;

  }

  &__callback {
    font-size: 12px;
    padding: 12px 14px;
    margin-left: auto;
  }

  @media (max-width: 1440px) {
    &__callback {
      display: none;
    }

    &__grid {
      grid-template-columns: 1fr 1fr 50px;
    }
  }

  @media (max-width: 1200px) {
    padding: 10px 0;

    &__grid {
      grid-template-columns: 1fr 50px;
      gap: 16px;
    }

    .navigation-contacts {
      display: none;
    }

    &__logo {
      max-width: 500px;
    }
  }

  @media (max-width: 600px) {
    &__text {
      display: none;
    }

    &__logo {
      gap: 0;
      grid-template-columns: 1fr;
      max-width: 250px;
    }
  }

}