.main-navigation {
  pointer-events: initial;
  opacity: 0;
  position: relative;
  transition-duration: 0.3s;
  transition: all 0.3s;
  top: -50px;
  margin: 4px 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 2;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  overflow: hidden;
  margin: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #7a7a7a;
    transition: width 2s;
    margin: 0 auto;
    opacity: 0.6;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #7a7a7a;
    transition: width 2s;
    margin: 0 auto;
    opacity: 0.6;
    z-index: 1;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
  }

  &__link {
    display: block;
    max-width: max-content;
    padding: 16px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    transition: color 0.3s;

    &:hover {
      color: #99bd3d !important;
    }
  }

  .navigation-contacts {
    display: none;
  }

  &__callback {
    display: none;
  }

  @media (max-width: 768px) {
    top: initial;
    left: -100%;

    .wrapper {
      padding-inline: 0;
    }

    &__list {
      gap: 0;
      grid-template-columns: 1fr;
    }

    &__link {
      padding: 20px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
    }

    .navigation-contacts {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto;
      font-size: 20px;
      max-width: max-content;
      text-align: center;

      a {
        margin: 0 auto;
        max-width: max-content;
      }
    }

    &__item {
      padding: 10px 20px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      transition: color 0.1s;
    }

    &__callback {
      display: block;
      max-width: max-content;
      margin: 16px auto;
      color: #fff !important;
      text-shadow: none;
      padding: 20px 24px;
      margin-bottom: 64px;
    }

    &::after,
    &::before {
      display: none;
    }
  }
}
